h1{
    color: chocolate;position: absolute;
    top: 400px;
    left: 400px;
    width: 100%;
}
h1 span {
    color: #fff;
    font-size: 30px;
    line-height: 55px;
    background: rgba(0, 0, 0, 0.7);
    background: #000;
    padding: 10px;
}
img {
    position: relative;
    width: 100%;
    filter: blur(2px);
}
.img2 {
    width: 300px;
    filter: initial;
}
h2{
    color: deeppink;
    font-size: 70px;
}
* {
    background-color: bisque;
}
p {
    color: brown;
}
footer {
    text-align: center;
    padding: 3px;
    background-color: DarkSalmon;
    color: white;
  }